<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zebra.deviceorientationservice">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LicenceActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".DeviceOrientationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".PowerEventsWatcherService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:exported="true"
            android:name=".BootCompletedBroadcastReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="true"
            android:name=".StartServiceBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.zebra.deviceorientationservice.startservice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="true"
            android:name=".StopServiceBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.zebra.deviceorientationservice.stopservice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="true"
            android:name=".SetupServiceBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.zebra.deviceorientationservice.setupservice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver> <!-- Register PowerConnectionReceiver in AndroidManifest for build < Oreo -->
        <receiver
            android:exported="true"
            android:name=".PowerConnectionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>